*,
*::after
*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.page{
    height: 100%;
    position: relative;
    width: 1280px;
    height: 1626px;
}
.nav-page-header{
    font-size: 18px;
    background-color:white;
    width: 620px;
    padding: 31.5px 330px;
}
.page-body {
    margin: 0px;
    font-family: sans-serif;
}
.page-menu-item{
    display: inline-block;
    margin-right: 72px;
}
.menu-page-nav{
    margin: 0px;
    /* padding: 31.5px 330px; */
    text-align: center;
}
.page-menu-link {
 color: red; 
 font-variant: small-caps;
 font-weight: 700;
 text-decoration: none;
}
.content-banner {
    position: absolute;
width: 1280px;
height: 789px;
margin: 0px;
}
.content-title{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 0px;
    color: #373737;
}
.content-text-first{
    position: absolute;
width: 1145px;
height: 132px;
margin-left: 67.5px;
margin-right: 67.5px;
margin-top: 38px;
margin-bottom: 0px;

font-family: monospace;
font-size: 16px;
line-height: 26px;

text-align: center;
letter-spacing: 2.4px;
color: #373737;
}
.content-text-second{
    position: absolute;
width: 1145px;
height: 216px;
margin-left: 67.5px;
margin-right: 67.5px;
margin-top: 276px;

font-family: monospace;
font-size: 16px;
line-height: 26px;

text-align: center;
letter-spacing: 2.4px;

color: #373737;
}
.content-main{
    position: absolute;
width: 1280px;
height: 650px;
margin-left: 0px;
margin-top: 0px;

background: rgba(0, 0, 0, 0.0001);
}
.btn-text{
    color: #ffffff;
    border: 1px solid red;
    background-color: red;
    text-align: center;
    padding: 18px 43px 17px 42px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;

    align-items: center;
    letter-spacing: 1.8px;
}
.btn{
    text-align: center;
    margin-top: 575px;
    margin-bottom: 59px;
}
.footer {
    width: 462px;
    height: 39px;
    margin-top: 1558px;
    margin-bottom: 29px;
    margin-left: 608px;
    margin-right: 0px;
}
.text-footer {
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}